@charset "UTF-8";

@font-face {
  font-family: "nemo";
  src:url("fonts/nemo.eot");
  src:url("fonts/nemo.eot?#iefix") format("embedded-opentype"),
    url("fonts/nemo.woff") format("woff"),
    url("fonts/nemo.ttf") format("truetype"),
    url("fonts/nemo.svg#nemo") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "nemo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="i-"]:before,
[class*=" i-"]:before {
  font-family: "nemo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-achievement-regular:before {
  content: "\e000";
}
.i-add-user-regular:before {
  content: "\e001";
}
.i-at-regular:before {
  content: "\e002";
}
.i-bag-regular:before {
  content: "\e003";
}
.i-bell-regular:before {
  content: "\e004";
}
.i-book-regular:before {
  content: "\e005";
}
.i-bookmark-regular:before {
  content: "\e006";
}
.i-box-regular:before {
  content: "\e007";
}
.i-brush-regular:before {
  content: "\e008";
}
.i-bulb-regular:before {
  content: "\e009";
}
.i-calculator-regular:before {
  content: "\e00a";
}
.i-calendar-regular:before {
  content: "\e00b";
}
.i-camcorder-regular:before {
  content: "\e00c";
}
.i-camera-regular:before {
  content: "\e00d";
}
.i-chart-regular:before {
  content: "\e00e";
}
.i-checkmark-regular:before {
  content: "\e00f";
}
.i-chemistry-regular:before {
  content: "\e010";
}
.i-clip-regular:before {
  content: "\e011";
}
.i-clock-regular:before {
  content: "\e012";
}
.i-cloud-regular:before {
  content: "\e013";
}
.i-cog-regular:before {
  content: "\e014";
}
.i-compass-regular:before {
  content: "\e015";
}
.i-compose-regular:before {
  content: "\e016";
}
.i-credit-card-regular:before {
  content: "\e017";
}
.i-cursor-regular:before {
  content: "\e018";
}
.i-dashboard-regular:before {
  content: "\e019";
}
.i-database-regular:before {
  content: "\e01a";
}
.i-display-regular:before {
  content: "\e01b";
}
.i-download-regular:before {
  content: "\e01c";
}
.i-envelope-regular:before {
  content: "\e01d";
}
.i-file-regular:before {
  content: "\e01e";
}
.i-folder-regular:before {
  content: "\e01f";
}
.i-gift-regular:before {
  content: "\e020";
}
.i-graph-regular:before {
  content: "\e021";
}
.i-heart-regular:before {
  content: "\e022";
}
.i-home-regular:before {
  content: "\e023";
}
.i-invisible-regular:before {
  content: "\e024";
}
.i-ipad-regular:before {
  content: "\e025";
}
.i-iphone-regular:before {
  content: "\e026";
}
.i-joystick-regular:before {
  content: "\e027";
}
.i-key-regular:before {
  content: "\e028";
}
.i-life-belt-regular:before {
  content: "\e029";
}
.i-lightning-regular:before {
  content: "\e02a";
}
.i-like-regular:before {
  content: "\e02b";
}
.i-link-regular:before {
  content: "\e02c";
}
.i-macbook-regular:before {
  content: "\e02d";
}
.i-magnifying-glass-regular:before {
  content: "\e02e";
}
.i-map-regular:before {
  content: "\e02f";
}
.i-megaphone-regular:before {
  content: "\e030";
}
.i-message-regular:before {
  content: "\e031";
}
.i-microphone-regular:before {
  content: "\e032";
}
.i-money-regular:before {
  content: "\e033";
}
.i-movie-file-regular:before {
  content: "\e034";
}
.i-package-regular:before {
  content: "\e035";
}
.i-pen-regular:before {
  content: "\e036";
}
.i-pencil-regular:before {
  content: "\e037";
}
.i-pencil-ruler-regular:before {
  content: "\e038";
}
.i-picture-file-regular:before {
  content: "\e039";
}
.i-piggybank-regular:before {
  content: "\e03a";
}
.i-pin-regular:before {
  content: "\e03b";
}
.i-printer-regular:before {
  content: "\e03c";
}
.i-quote-regular:before {
  content: "\e03d";
}
.i-share-regular:before {
  content: "\e03e";
}
.i-shield-regular:before {
  content: "\e03f";
}
.i-sight-regular:before {
  content: "\e040";
}
.i-site-map-regular:before {
  content: "\e041";
}
.i-sound-regular:before {
  content: "\e042";
}
.i-spanner-regular:before {
  content: "\e043";
}
.i-star-regular:before {
  content: "\e044";
}
.i-stoper-regular:before {
  content: "\e045";
}
.i-suitcase-regular:before {
  content: "\e046";
}
.i-tack-regular:before {
  content: "\e047";
}
.i-tag-regular:before {
  content: "\e048";
}
.i-telephone-regular:before {
  content: "\e049";
}
.i-text-file-regular:before {
  content: "\e04a";
}
.i-transport-regular:before {
  content: "\e04b";
}
.i-trash-regular:before {
  content: "\e04c";
}
.i-trolley-regular:before {
  content: "\e04d";
}
.i-visible-regular:before {
  content: "\e04e";
}
.i-wallet-regular:before {
  content: "\e04f";
}
.i-window-regular:before {
  content: "\e050";
}
.i-world-regular:before {
  content: "\e051";
}
.i-sb-lemon:before {
  content: "\e052";
}
.i-sb-appetizer:before {
  content: "\e053";
}
.i-sb-blender:before {
  content: "\e054";
}
.i-sb-bowl:before {
  content: "\e055";
}
.i-sb-burger:before {
  content: "\e056";
}
.i-sb-cake:before {
  content: "\e057";
}
.i-sb-carrot:before {
  content: "\e058";
}
.i-sb-chef-hat:before {
  content: "\e059";
}
.i-sb-chicken-1:before {
  content: "\e05a";
}
.i-sb-chicken-2:before {
  content: "\e05b";
}
.i-sb-clock:before {
  content: "\e05c";
}
.i-sb-coffee:before {
  content: "\e05d";
}
.i-sb-cone-icecream:before {
  content: "\e05e";
}
.i-sb-dessert:before {
  content: "\e05f";
}
.i-sb-dinner:before {
  content: "\e060";
}
.i-sb-drinks:before {
  content: "\e061";
}
.i-sb-drumstick:before {
  content: "\e062";
}
.i-sb-egg-bacon:before {
  content: "\e063";
}
.i-sb-fish-1:before {
  content: "\e064";
}
.i-sb-fish-2:before {
  content: "\e065";
}
.i-sb-french-fries:before {
  content: "\e066";
}
.i-sb-fried-egg:before {
  content: "\e067";
}
.i-sb-fruits:before {
  content: "\e068";
}
.i-sb-hot-pan:before {
  content: "\e069";
}
.i-sb-hotdog:before {
  content: "\e06a";
}
.i-sb-icecream-1:before {
  content: "\e06b";
}
.i-sb-icecream-2:before {
  content: "\e06c";
}
.i-sb-icecream:before {
  content: "\e06d";
}
.i-sb-jackfruit:before {
  content: "\e06e";
}
.i-sb-kettle:before {
  content: "\e06f";
}
.i-sb-kiwi:before {
  content: "\e070";
}
.i-sb-apple:before {
  content: "\e071";
}
.i-sb-lunch:before {
  content: "\e072";
}
.i-sb-menu:before {
  content: "\e073";
}
.i-sb-muffin:before {
  content: "\e074";
}
.i-sb-offer:before {
  content: "\e075";
}
.i-sb-pan:before {
  content: "\e076";
}
.i-sbpizza:before {
  content: "\e077";
}
.i-sb-popsicle:before {
  content: "\e078";
}
.i-sb-roast-leg:before {
  content: "\e079";
}
.i-sb-saslik:before {
  content: "\e07a";
}
.i-sb-sausage:before {
  content: "\e07b";
}
.i-sb-spoon-plate:before {
  content: "\e07c";
}
.i-sb-spoons:before {
  content: "\e07d";
}
.i-sb-steak:before {
  content: "\e07e";
}
.i-sb-stockpot:before {
  content: "\e07f";
}
.i-sb-taco:before {
  content: "\e080";
}
.i-sb-tea:before {
  content: "\e081";
}
.i-sb-tomato:before {
  content: "\e082";
}
.i-sb-apron:before {
  content: "\e083";
}
.i-add-user:before {
  content: "\e084";
}
.i-airplay:before {
  content: "\e085";
}
.i-alarm:before {
  content: "\e086";
}
.i-album:before {
  content: "\e087";
}
.i-albums:before {
  content: "\e088";
}
.i-anchor:before {
  content: "\e089";
}
.i-angle-down:before {
  content: "\e08a";
}
.i-angle-down-circle:before {
  content: "\e08b";
}
.i-angle-left:before {
  content: "\e08c";
}
.i-angle-left-circle:before {
  content: "\e08d";
}
.i-angle-right:before {
  content: "\e08e";
}
.i-angle-right-circle:before {
  content: "\e08f";
}
.i-angle-up:before {
  content: "\e090";
}
.i-angle-up-circle:before {
  content: "\e091";
}
.i-arc:before {
  content: "\e092";
}
.i-attention:before {
  content: "\e093";
}
.i-back:before {
  content: "\e094";
}
.i-back-2:before {
  content: "\e095";
}
.i-ball:before {
  content: "\e096";
}
.i-bandaid:before {
  content: "\e097";
}
.i-battery:before {
  content: "\e098";
}
.i-bell:before {
  content: "\e099";
}
.i-bicycle:before {
  content: "\e09a";
}
.i-bluetooth:before {
  content: "\e09b";
}
.i-bookmarks:before {
  content: "\e09c";
}
.i-bottom-arrow:before {
  content: "\e09d";
}
.i-box1:before {
  content: "\e09e";
}
.i-box2:before {
  content: "\e09f";
}
.i-browser:before {
  content: "\e0a0";
}
.i-calculator:before {
  content: "\e0a1";
}
.i-call:before {
  content: "\e0a2";
}
.i-camera:before {
  content: "\e0a3";
}
.i-car:before {
  content: "\e0a4";
}
.i-cart:before {
  content: "\e0a5";
}
.i-cash:before {
  content: "\e0a6";
}
.i-chat:before {
  content: "\e0a7";
}
.i-check:before {
  content: "\e0a8";
}
.i-clock:before {
  content: "\e0a9";
}
.i-close:before {
  content: "\e0aa";
}
.i-close-circle:before {
  content: "\e0ab";
}
.i-cloud:before {
  content: "\e0ac";
}
.i-cloud-download:before {
  content: "\e0ad";
}
.i-cloud-upload:before {
  content: "\e0ae";
}
.i-coffee:before {
  content: "\e0af";
}
.i-comment:before {
  content: "\e0b0";
}
.i-compass:before {
  content: "\e0b1";
}
.i-config:before {
  content: "\e0b2";
}
.i-copy-file:before {
  content: "\e0b3";
}
.i-credit:before {
  content: "\e0b4";
}
.i-crop:before {
  content: "\e0b5";
}
.i-culture:before {
  content: "\e0b6";
}
.i-cup:before {
  content: "\e0b7";
}
.i-date:before {
  content: "\e0b8";
}
.i-delete-user:before {
  content: "\e0b9";
}
.i-diamond:before {
  content: "\e0ba";
}
.i-disk:before {
  content: "\e0bb";
}
.i-diskette:before {
  content: "\e0bc";
}
.i-display1:before {
  content: "\e0bd";
}
.i-display2:before {
  content: "\e0be";
}
.i-door-lock:before {
  content: "\e0bf";
}
.i-download:before {
  content: "\e0c0";
}
.i-drawer:before {
  content: "\e0c1";
}
.i-drop:before {
  content: "\e0c2";
}
.i-edit:before {
  content: "\e0c3";
}
.i-exapnd2:before {
  content: "\e0c4";
}
.i-expand1:before {
  content: "\e0c5";
}
.i-eyedropper:before {
  content: "\e0c6";
}
.i-female:before {
  content: "\e0c7";
}
.i-file:before {
  content: "\e0c8";
}
.i-film:before {
  content: "\e0c9";
}
.i-filter:before {
  content: "\e0ca";
}
.i-flag:before {
  content: "\e0cb";
}
.i-folder:before {
  content: "\e0cc";
}
.i-gift:before {
  content: "\e0cd";
}
.i-glasses:before {
  content: "\e0ce";
}
.i-gleam:before {
  content: "\e0cf";
}
.i-global:before {
  content: "\e0d0";
}
.i-graph:before {
  content: "\e0d1";
}
.i-graph1:before {
  content: "\e0d2";
}
.i-graph2:before {
  content: "\e0d3";
}
.i-graph3:before {
  content: "\e0d4";
}
.i-gym:before {
  content: "\e0d5";
}
.i-hammer:before {
  content: "\e0d6";
}
.i-headphones:before {
  content: "\e0d7";
}
.i-helm:before {
  content: "\e0d8";
}
.i-help1:before {
  content: "\e0d9";
}
.i-help2:before {
  content: "\e0da";
}
.i-home:before {
  content: "\e0db";
}
.i-hourglass:before {
  content: "\e0dc";
}
.i-id:before {
  content: "\e0dd";
}
.i-info:before {
  content: "\e0de";
}
.i-joy:before {
  content: "\e0df";
}
.i-junk:before {
  content: "\e0e0";
}
.i-key:before {
  content: "\e0e1";
}
.i-keypad:before {
  content: "\e0e2";
}
.i-leaf:before {
  content: "\e0e3";
}
.i-left-arrow:before {
  content: "\e0e4";
}
.i-less:before {
  content: "\e0e5";
}
.i-light:before {
  content: "\e0e6";
}
.i-like:before {
  content: "\e0e7";
}
.i-like2:before {
  content: "\e0e8";
}
.i-link:before {
  content: "\e0e9";
}
.i-lintern:before {
  content: "\e0ea";
}
.i-lock:before {
  content: "\e0eb";
}
.i-look:before {
  content: "\e0ec";
}
.i-loop:before {
  content: "\e0ed";
}
.i-magic-wand:before {
  content: "\e0ee";
}
.i-magnet:before {
  content: "\e0ef";
}
.i-mail:before {
  content: "\e0f0";
}
.i-mail-open:before {
  content: "\e0f1";
}
.i-mail-open-file:before {
  content: "\e0f2";
}
.i-male:before {
  content: "\e0f3";
}
.i-map:before {
  content: "\e0f4";
}
.i-map-2:before {
  content: "\e0f5";
}
.i-map-marker:before {
  content: "\e0f6";
}
.i-medal:before {
  content: "\e0f7";
}
.i-menu:before {
  content: "\e0f8";
}
.i-micro:before {
  content: "\e0f9";
}
.i-monitor:before {
  content: "\e0fa";
}
.i-moon:before {
  content: "\e0fb";
}
.i-more:before {
  content: "\e0fc";
}
.i-mouse:before {
  content: "\e0fd";
}
.i-music:before {
  content: "\e0fe";
}
.i-musiclist:before {
  content: "\e0ff";
}
.i-mute:before {
  content: "\e100";
}
.i-network:before {
  content: "\e101";
}
.i-news-paper:before {
  content: "\e102";
}
.i-next:before {
  content: "\e103";
}
.i-next-2:before {
  content: "\e104";
}
.i-note:before {
  content: "\e105";
}
.i-note2:before {
  content: "\e106";
}
.i-notebook:before {
  content: "\e107";
}
.i-paint:before {
  content: "\e108";
}
.i-paint-bucket:before {
  content: "\e109";
}
.i-paper-plane:before {
  content: "\e10a";
}
.i-paperclip:before {
  content: "\e10b";
}
.i-pen:before {
  content: "\e10c";
}
.i-pendrive:before {
  content: "\e10d";
}
.i-phone:before {
  content: "\e10e";
}
.i-photo:before {
  content: "\e10f";
}
.i-photo-gallery:before {
  content: "\e110";
}
.i-piggy:before {
  content: "\e111";
}
.i-pin:before {
  content: "\e112";
}
.i-plane:before {
  content: "\e113";
}
.i-play:before {
  content: "\e114";
}
.i-plug:before {
  content: "\e115";
}
.i-plugin:before {
  content: "\e116";
}
.i-plus:before {
  content: "\e117";
}
.i-portfolio:before {
  content: "\e118";
}
.i-power:before {
  content: "\e119";
}
.i-prev:before {
  content: "\e11a";
}
.i-print:before {
  content: "\e11b";
}
.i-radio:before {
  content: "\e11c";
}
.i-refresh:before {
  content: "\e11d";
}
.i-refresh-2:before {
  content: "\e11e";
}
.i-refresh-cloud:before {
  content: "\e11f";
}
.i-repeat:before {
  content: "\e120";
}
.i-ribbon:before {
  content: "\e121";
}
.i-right-arrow:before {
  content: "\e122";
}
.i-rocket:before {
  content: "\e123";
}
.i-safe:before {
  content: "\e124";
}
.i-science:before {
  content: "\e125";
}
.i-scissors:before {
  content: "\e126";
}
.i-search:before {
  content: "\e127";
}
.i-server:before {
  content: "\e128";
}
.i-settings:before {
  content: "\e129";
}
.i-share:before {
  content: "\e12a";
}
.i-shield:before {
  content: "\e12b";
}
.i-shopbag:before {
  content: "\e12c";
}
.i-shuffle:before {
  content: "\e12d";
}
.i-signal:before {
  content: "\e12e";
}
.i-smile:before {
  content: "\e12f";
}
.i-speaker:before {
  content: "\e130";
}
.i-star:before {
  content: "\e131";
}
.i-stopwatch:before {
  content: "\e132";
}
.i-study:before {
  content: "\e133";
}
.i-sun:before {
  content: "\e134";
}
.i-switch:before {
  content: "\e135";
}
.i-target:before {
  content: "\e136";
}
.i-ticket:before {
  content: "\e137";
}
.i-timer:before {
  content: "\e138";
}
.i-tools:before {
  content: "\e139";
}
.i-trash:before {
  content: "\e13a";
}
.i-umbrella:before {
  content: "\e13b";
}
.i-unlock:before {
  content: "\e13c";
}
.i-up-arrow:before {
  content: "\e13d";
}
.i-upload:before {
  content: "\e13e";
}
.i-usb:before {
  content: "\e13f";
}
.i-user:before {
  content: "\e140";
}
.i-user-female:before {
  content: "\e141";
}
.i-users:before {
  content: "\e142";
}
.i-vector:before {
  content: "\e143";
}
.i-video:before {
  content: "\e144";
}
.i-voicemail:before {
  content: "\e145";
}
.i-volume:before {
  content: "\e146";
}
.i-volume1:before {
  content: "\e147";
}
.i-volume2:before {
  content: "\e148";
}
.i-wallet:before {
  content: "\e149";
}
.i-way:before {
  content: "\e14a";
}
.i-wine:before {
  content: "\e14b";
}
.i-world:before {
  content: "\e14c";
}
.i-wristwatch:before {
  content: "\e14d";
}
.i-arrow-back:before {
  content: "\e14e";
}
.i-arrow-carrot-2down:before {
  content: "\e14f";
}
.i-arrow-carrot-2down-alt2:before {
  content: "\e150";
}
.i-arrow-carrot-2dwnn-alt:before {
  content: "\e151";
}
.i-arrow-carrot-2left:before {
  content: "\e152";
}
.i-arrow-carrot-2left-alt:before {
  content: "\e153";
}
.i-arrow-carrot-2left-alt2:before {
  content: "\e154";
}
.i-arrow-carrot-2right:before {
  content: "\e155";
}
.i-arrow-carrot-2right-alt:before {
  content: "\e156";
}
.i-arrow-carrot-2right-alt2:before {
  content: "\e157";
}
.i-arrow-carrot-2up:before {
  content: "\e158";
}
.i-arrow-carrot-2up-alt:before {
  content: "\e159";
}
.i-arrow-carrot-2up-alt2:before {
  content: "\e15a";
}
.i-arrow-carrot-down:before {
  content: "\e15b";
}
.i-arrow-carrot-down-alt:before {
  content: "\e15c";
}
.i-arrow-carrot-down-alt2:before {
  content: "\e15d";
}
.i-arrow-carrot-left:before {
  content: "\e15e";
}
.i-arrow-carrot-left-alt:before {
  content: "\e15f";
}
.i-arrow-carrot-left-alt2:before {
  content: "\e160";
}
.i-arrow-carrot-right:before {
  content: "\e161";
}
.i-arrow-carrot-right-alt:before {
  content: "\e162";
}
.i-arrow-carrot-right-alt2:before {
  content: "\e163";
}
.i-arrow-carrot-up:before {
  content: "\e164";
}
.i-arrow-carrot-up-alt:before {
  content: "\e165";
}
.i-arrow-carrot-up-alt2:before {
  content: "\e166";
}
.i-arrow-condense:before {
  content: "\e167";
}
.i-arrow-condense-alt:before {
  content: "\e168";
}
.i-arrow-down:before {
  content: "\e169";
}
.i-arrow-down-alt:before {
  content: "\e16a";
}
.i-arrow-expand:before {
  content: "\e16b";
}
.i-arrow-expand-alt:before {
  content: "\e16c";
}
.i-arrow-expand-alt2:before {
  content: "\e16d";
}
.i-arrow-expand-alt3:before {
  content: "\e16e";
}
.i-arrow-left:before {
  content: "\e16f";
}
.i-arrow-left-alt:before {
  content: "\e170";
}
.i-arrow-left-down:before {
  content: "\e171";
}
.i-arrow-left-down-alt:before {
  content: "\e172";
}
.i-arrow-left-right:before {
  content: "\e173";
}
.i-arrow-left-right-alt:before {
  content: "\e174";
}
.i-arrow-left-up:before {
  content: "\e175";
}
.i-arrow-left-up-alt:before {
  content: "\e176";
}
.i-arrow-move:before {
  content: "\e177";
}
.i-arrow-right:before {
  content: "\e178";
}
.i-arrow-right-alt:before {
  content: "\e179";
}
.i-arrow-right-down:before {
  content: "\e17a";
}
.i-arrow-right-down-alt:before {
  content: "\e17b";
}
.i-arrow-right-up:before {
  content: "\e17c";
}
.i-arrow-right-up-alt:before {
  content: "\e17d";
}
.i-arrow-triangle-down:before {
  content: "\e17e";
}
.i-arrow-triangle-down-alt:before {
  content: "\e17f";
}
.i-arrow-triangle-down-alt2:before {
  content: "\e180";
}
.i-arrow-triangle-left:before {
  content: "\e181";
}
.i-arrow-triangle-left-alt:before {
  content: "\e182";
}
.i-arrow-triangle-left-alt2:before {
  content: "\e183";
}
.i-arrow-triangle-right:before {
  content: "\e184";
}
.i-arrow-triangle-right-alt:before {
  content: "\e185";
}
.i-arrow-triangle-right-alt2:before {
  content: "\e186";
}
.i-arrow-triangle-up:before {
  content: "\e187";
}
.i-arrow-triangle-up-alt:before {
  content: "\e188";
}
.i-arrow-triangle-up-alt2:before {
  content: "\e189";
}
.i-arrow-up:before {
  content: "\e18a";
}
.i-arrow-up-alt:before {
  content: "\e18b";
}
.i-arrow-up-down:before {
  content: "\e18c";
}
.i-arrow-up-down-alt:before {
  content: "\e18d";
}
.i-icon-adjust-horiz:before {
  content: "\e18e";
}
.i-icon-adjust-vert:before {
  content: "\e18f";
}
.i-icon-archive:before {
  content: "\e190";
}
.i-icon-archive-alt:before {
  content: "\e191";
}
.i-icon-bag:before {
  content: "\e192";
}
.i-icon-bag-alt:before {
  content: "\e193";
}
.i-icon-balance:before {
  content: "\e194";
}
.i-icon-blocked:before {
  content: "\e195";
}
.i-icon-book:before {
  content: "\e196";
}
.i-icon-book-alt:before {
  content: "\e197";
}
.i-icon-box-checked:before {
  content: "\e198";
}
.i-icon-box-empty:before {
  content: "\e199";
}
.i-icon-box-selected:before {
  content: "\e19a";
}
.i-icon-briefcase:before {
  content: "\e19b";
}
.i-icon-briefcase-alt:before {
  content: "\e19c";
}
.i-icon-building:before {
  content: "\e19d";
}
.i-icon-building-alt:before {
  content: "\e19e";
}
.i-icon-calculator-alt:before {
  content: "\e19f";
}
.i-icon-calendar:before {
  content: "\e1a0";
}
.i-icon-calulator:before {
  content: "\e1a1";
}
.i-icon-camera:before {
  content: "\e1a2";
}
.i-icon-camera-alt:before {
  content: "\e1a3";
}
.i-icon-cart:before {
  content: "\e1a4";
}
.i-icon-cart-alt:before {
  content: "\e1a5";
}
.i-icon-chat:before {
  content: "\e1a6";
}
.i-icon-chat-alt:before {
  content: "\e1a7";
}
.i-icon-check:before {
  content: "\e1a8";
}
.i-icon-check-alt:before {
  content: "\e1a9";
}
.i-icon-check-alt2:before {
  content: "\e1aa";
}
.i-icon-circle-empty:before {
  content: "\e1ab";
}
.i-icon-circle-slelected:before {
  content: "\e1ac";
}
.i-icon-clipboard:before {
  content: "\e1ad";
}
.i-icon-clock:before {
  content: "\e1ae";
}
.i-icon-clock-alt:before {
  content: "\e1af";
}
.i-icon-close:before {
  content: "\e1b0";
}
.i-icon-close-alt:before {
  content: "\e1b1";
}
.i-icon-close-alt2:before {
  content: "\e1b2";
}
.i-icon-cloud:before {
  content: "\e1b3";
}
.i-icon-cloud-alt:before {
  content: "\e1b4";
}
.i-icon-cloud-download:before {
  content: "\e1b5";
}
.i-icon-cloud-download-alt:before {
  content: "\e1b6";
}
.i-icon-cloud-upload:before {
  content: "\e1b7";
}
.i-icon-cloud-upload-alt:before {
  content: "\e1b8";
}
.i-icon-cog:before {
  content: "\e1b9";
}
.i-icon-cogs:before {
  content: "\e1ba";
}
.i-icon-comment:before {
  content: "\e1bb";
}
.i-icon-comment-alt:before {
  content: "\e1bc";
}
.i-icon-compass:before {
  content: "\e1bd";
}
.i-icon-compass-alt:before {
  content: "\e1be";
}
.i-icon-cone:before {
  content: "\e1bf";
}
.i-icon-cone-alt:before {
  content: "\e1c0";
}
.i-icon-contacts:before {
  content: "\e1c1";
}
.i-icon-contacts-alt:before {
  content: "\e1c2";
}
.i-icon-creditcard:before {
  content: "\e1c3";
}
.i-icon-currency:before {
  content: "\e1c4";
}
.i-icon-currency-alt:before {
  content: "\e1c5";
}
.i-icon-cursor:before {
  content: "\e1c6";
}
.i-icon-cursor-alt:before {
  content: "\e1c7";
}
.i-icon-datareport:before {
  content: "\e1c8";
}
.i-icon-datareport-alt:before {
  content: "\e1c9";
}
.i-icon-desktop:before {
  content: "\e1ca";
}
.i-icon-dislike:before {
  content: "\e1cb";
}
.i-icon-dislike-alt:before {
  content: "\e1cc";
}
.i-icon-document:before {
  content: "\e1cd";
}
.i-icon-document-alt:before {
  content: "\e1ce";
}
.i-icon-documents:before {
  content: "\e1cf";
}
.i-icon-documents-alt:before {
  content: "\e1d0";
}
.i-icon-download:before {
  content: "\e1d1";
}
.i-icon-drawer:before {
  content: "\e1d2";
}
.i-icon-drawer-alt:before {
  content: "\e1d3";
}
.i-icon-drive:before {
  content: "\e1d4";
}
.i-icon-drive-alt:before {
  content: "\e1d5";
}
.i-icon-easel:before {
  content: "\e1d6";
}
.i-icon-easel-alt:before {
  content: "\e1d7";
}
.i-icon-error-circle:before {
  content: "\e1d8";
}
.i-icon-error-circle-alt:before {
  content: "\e1d9";
}
.i-icon-error-oct:before {
  content: "\e1da";
}
.i-icon-error-oct-alt:before {
  content: "\e1db";
}
.i-icon-error-triangle:before {
  content: "\e1dc";
}
.i-icon-error-triangle-alt:before {
  content: "\e1dd";
}
.i-icon-film:before {
  content: "\e1de";
}
.i-icon-floppy:before {
  content: "\e1df";
}
.i-icon-floppy-alt:before {
  content: "\e1e0";
}
.i-icon-flowchart:before {
  content: "\e1e1";
}
.i-icon-flowchart-alt:before {
  content: "\e1e2";
}
.i-icon-folder:before {
  content: "\e1e3";
}
.i-icon-folder-add:before {
  content: "\e1e4";
}
.i-icon-folder-add-alt:before {
  content: "\e1e5";
}
.i-icon-folder-alt:before {
  content: "\e1e6";
}
.i-icon-folder-download:before {
  content: "\e1e7";
}
.i-icon-folder-open:before {
  content: "\e1e8";
}
.i-icon-folder-open-alt:before {
  content: "\e1e9";
}
.i-icon-folder-upload:before {
  content: "\e1ea";
}
.i-icon-genius:before {
  content: "\e1eb";
}
.i-icon-gift:before {
  content: "\e1ec";
}
.i-icon-gift-alt:before {
  content: "\e1ed";
}
.i-icon-globe:before {
  content: "\e1ee";
}
.i-icon-globe-2:before {
  content: "\e1ef";
}
.i-icon-globe-alt:before {
  content: "\e1f0";
}
.i-icon-grid-2x2:before {
  content: "\e1f1";
}
.i-icon-grid-3x3:before {
  content: "\e1f2";
}
.i-icon-group:before {
  content: "\e1f3";
}
.i-icon-headphones:before {
  content: "\e1f4";
}
.i-icon-heart:before {
  content: "\e1f5";
}
.i-icon-heart-alt:before {
  content: "\e1f6";
}
.i-icon-hourglass:before {
  content: "\e1f7";
}
.i-icon-house:before {
  content: "\e1f8";
}
.i-icon-house-alt:before {
  content: "\e1f9";
}
.i-icon-id:before {
  content: "\e1fa";
}
.i-icon-id-2:before {
  content: "\e1fb";
}
.i-icon-id-2-alt:before {
  content: "\e1fc";
}
.i-icon-id-alt:before {
  content: "\e1fd";
}
.i-icon-image:before {
  content: "\e1fe";
}
.i-icon-images:before {
  content: "\e1ff";
}
.i-icon-info:before {
  content: "\e200";
}
.i-icon-info-alt:before {
  content: "\e201";
}
.i-icon-key:before {
  content: "\e202";
}
.i-icon-key-alt:before {
  content: "\e203";
}
.i-icon-laptop:before {
  content: "\e204";
}
.i-icon-lifesaver:before {
  content: "\e205";
}
.i-icon-lightbulb:before {
  content: "\e206";
}
.i-icon-lightbulb-alt:before {
  content: "\e207";
}
.i-icon-like:before {
  content: "\e208";
}
.i-icon-like-alt:before {
  content: "\e209";
}
.i-icon-link:before {
  content: "\e20a";
}
.i-icon-link-alt:before {
  content: "\e20b";
}
.i-icon-loading:before {
  content: "\e20c";
}
.i-icon-lock:before {
  content: "\e20d";
}
.i-icon-lock-alt:before {
  content: "\e20e";
}
.i-icon-lock-open:before {
  content: "\e20f";
}
.i-icon-lock-open-alt:before {
  content: "\e210";
}
.i-icon-mail:before {
  content: "\e211";
}
.i-icon-mail-alt:before {
  content: "\e212";
}
.i-icon-map:before {
  content: "\e213";
}
.i-icon-map-alt:before {
  content: "\e214";
}
.i-icon-menu:before {
  content: "\e215";
}
.i-icon-menu-circle-alt:before {
  content: "\e216";
}
.i-icon-menu-circle-alt2:before {
  content: "\e217";
}
.i-icon-menu-square-alt:before {
  content: "\e218";
}
.i-icon-menu-square-alt2:before {
  content: "\e219";
}
.i-icon-mic:before {
  content: "\e21a";
}
.i-icon-mic-alt:before {
  content: "\e21b";
}
.i-icon-minus-06:before {
  content: "\e21c";
}
.i-icon-minus-alt:before {
  content: "\e21d";
}
.i-icon-minus-alt2:before {
  content: "\e21e";
}
.i-icon-minus-box:before {
  content: "\e21f";
}
.i-icon-mobile:before {
  content: "\e220";
}
.i-icon-mug:before {
  content: "\e221";
}
.i-icon-mug-alt:before {
  content: "\e222";
}
.i-icon-music:before {
  content: "\e223";
}
.i-icon-ol:before {
  content: "\e224";
}
.i-icon-paperclip:before {
  content: "\e225";
}
.i-icon-pause:before {
  content: "\e226";
}
.i-icon-pause-alt:before {
  content: "\e227";
}
.i-icon-pause-alt2:before {
  content: "\e228";
}
.i-icon-pencil:before {
  content: "\e229";
}
.i-icon-pencil-alt:before {
  content: "\e22a";
}
.i-icon-pencil-edit:before {
  content: "\e22b";
}
.i-icon-pencil-edit-alt:before {
  content: "\e22c";
}
.i-icon-pens:before {
  content: "\e22d";
}
.i-icon-pens-alt:before {
  content: "\e22e";
}
.i-icon-percent:before {
  content: "\e22f";
}
.i-icon-percent-alt:before {
  content: "\e230";
}
.i-icon-phone:before {
  content: "\e231";
}
.i-icon-piechart:before {
  content: "\e232";
}
.i-icon-pin:before {
  content: "\e233";
}
.i-icon-pin-alt:before {
  content: "\e234";
}
.i-icon-plus:before {
  content: "\e235";
}
.i-icon-plus-alt:before {
  content: "\e236";
}
.i-icon-plus-alt2:before {
  content: "\e237";
}
.i-icon-plus-box:before {
  content: "\e238";
}
.i-icon-printer:before {
  content: "\e239";
}
.i-icon-printer-alt:before {
  content: "\e23a";
}
.i-icon-profile:before {
  content: "\e23b";
}
.i-icon-pushpin:before {
  content: "\e23c";
}
.i-icon-pushpin-alt:before {
  content: "\e23d";
}
.i-icon-puzzle:before {
  content: "\e23e";
}
.i-icon-puzzle-alt:before {
  content: "\e23f";
}
.i-icon-question:before {
  content: "\e240";
}
.i-icon-question-alt:before {
  content: "\e241";
}
.i-icon-question-alt2:before {
  content: "\e242";
}
.i-icon-quotations:before {
  content: "\e243";
}
.i-icon-quotations-alt:before {
  content: "\e244";
}
.i-icon-quotations-alt2:before {
  content: "\e245";
}
.i-icon-refresh:before {
  content: "\e246";
}
.i-icon-ribbon:before {
  content: "\e247";
}
.i-icon-ribbon-alt:before {
  content: "\e248";
}
.i-icon-rook:before {
  content: "\e249";
}
.i-icon-search:before {
  content: "\e24a";
}
.i-icon-search2:before {
  content: "\e24b";
}
.i-icon-search-alt:before {
  content: "\e24c";
}
.i-icon-shield:before {
  content: "\e24d";
}
.i-icon-shield-alt:before {
  content: "\e24e";
}
.i-icon-star:before {
  content: "\e24f";
}
.i-icon-star-alt:before {
  content: "\e250";
}
.i-icon-star-half:before {
  content: "\e251";
}
.i-icon-star-half-alt:before {
  content: "\e252";
}
.i-icon-stop:before {
  content: "\e253";
}
.i-icon-stop-alt:before {
  content: "\e254";
}
.i-icon-stop-alt2:before {
  content: "\e255";
}
.i-icon-table:before {
  content: "\e256";
}
.i-icon-tablet:before {
  content: "\e257";
}
.i-icon-tag:before {
  content: "\e258";
}
.i-icon-tag-alt:before {
  content: "\e259";
}
.i-icon-tags:before {
  content: "\e25a";
}
.i-icon-tags-alt:before {
  content: "\e25b";
}
.i-icon-target:before {
  content: "\e25c";
}
.i-icon-tool:before {
  content: "\e25d";
}
.i-icon-toolbox:before {
  content: "\e25e";
}
.i-icon-toolbox-alt:before {
  content: "\e25f";
}
.i-icon-tools:before {
  content: "\e260";
}
.i-icon-trash:before {
  content: "\e261";
}
.i-icon-trash-alt:before {
  content: "\e262";
}
.i-icon-ul:before {
  content: "\e263";
}
.i-icon-upload:before {
  content: "\e264";
}
.i-icon-vol-mute:before {
  content: "\e265";
}
.i-icon-vol-mute-alt:before {
  content: "\e266";
}
.i-icon-volume-high:before {
  content: "\e267";
}
.i-icon-volume-high-alt:before {
  content: "\e268";
}
.i-icon-volume-low:before {
  content: "\e269";
}
.i-icon-volume-low-alt:before {
  content: "\e26a";
}
.i-icon-wallet:before {
  content: "\e26b";
}
.i-icon-wallet-alt:before {
  content: "\e26c";
}
.i-icon-zoom-in:before {
  content: "\e26d";
}
.i-icon-zoom-in-alt:before {
  content: "\e26e";
}
.i-icon-zoom-out:before {
  content: "\e26f";
}
.i-icon-zoom-out-alt:before {
  content: "\e270";
}
.i-weather-cloud:before {
  content: "\e271";
}
.i-weather-cloud-lightning:before {
  content: "\e272";
}
.i-weather-cloud-snowflake:before {
  content: "\e273";
}
.i-weather-downpour-fullmoon:before {
  content: "\e274";
}
.i-weather-downpour-halfmoon:before {
  content: "\e275";
}
.i-weather-downpour-sun:before {
  content: "\e276";
}
.i-weather-wind-nw:before {
  content: "\e277";
}
.i-weather-wind-s:before {
  content: "\e278";
}
.i-weather-wind-se:before {
  content: "\e279";
}
.i-weather-wind-n:before {
  content: "\e27a";
}
.i-weather-wind-ne:before {
  content: "\e27b";
}
.i-ecommerce-sales:before {
  content: "\e27c";
}
.i-ecommerce-sale:before {
  content: "\e27d";
}
.i-ecommerce-cart-content:before {
  content: "\e27e";
}
.i-ecommerce-creditcard:before {
  content: "\e27f";
}
.i-ecommerce-diamond:before {
  content: "\e280";
}
.i-ecommerce-dollar:before {
  content: "\e281";
}
.i-ecommerce-euro:before {
  content: "\e282";
}
.i-ecommerce-pound:before {
  content: "\e283";
}
.i-ecommerce-wallet:before {
  content: "\e284";
}
.i-ecommerce-cart:before {
  content: "\e285";
}
.i-ecommerce-cart-check:before {
  content: "\e286";
}
.i-basic-elaboration-cloud-check:before {
  content: "\e287";
}
.i-basic-elaboration-cloud-download:before {
  content: "\e288";
}
.i-basic-elaboration-cloud-plus:before {
  content: "\e289";
}
.i-basic-elaboration-message-check:before {
  content: "\e28a";
}
.i-basic-elaboration-message-dots:before {
  content: "\e28b";
}
.i-basic-elaboration-message-happy:before {
  content: "\e28c";
}
.i-basic-elaboration-message-heart:before {
  content: "\e28d";
}
.i-basic-elaboration-message-plus:before {
  content: "\e28e";
}
.i-basic-elaboration-message-refresh:before {
  content: "\e28f";
}
.i-basic-elaboration-smartphone-cloud:before {
  content: "\e290";
}
.i-basic-elaboration-smartphone-heart:before {
  content: "\e291";
}
.i-basic-elaboration-smartphone-noaccess:before {
  content: "\e292";
}
.i-basic-elaboration-smartphone-note:before {
  content: "\e293";
}
.i-basic-elaboration-smartphone-pencil:before {
  content: "\e294";
}
.i-basic-elaboration-smartphone-picture:before {
  content: "\e295";
}
.i-basic-elaboration-smartphone-refresh:before {
  content: "\e296";
}
.i-basic-elaboration-smartphone-search:before {
  content: "\e297";
}
.i-basic-elaboration-tablet-cloud:before {
  content: "\e298";
}
.i-basic-elaboration-tablet-heart:before {
  content: "\e299";
}
.i-basic-elaboration-tablet-noaccess:before {
  content: "\e29a";
}
.i-basic-elaboration-tablet-note:before {
  content: "\e29b";
}
.i-basic-elaboration-tablet-pencil:before {
  content: "\e29c";
}
.i-basic-elaboration-tablet-picture:before {
  content: "\e29d";
}
.i-basic-elaboration-tablet-refresh:before {
  content: "\e29e";
}
.i-basic-elaboration-tablet-search:before {
  content: "\e29f";
}
.i-basic-book-pen:before {
  content: "\e2a0";
}
.i-basic-book-pencil:before {
  content: "\e2a1";
}
.i-basic-alarm:before {
  content: "\e2a2";
}
.i-basic-accelerator:before {
  content: "\e2a3";
}
.i-basic-book:before {
  content: "\e2a4";
}
.i-basic-display:before {
  content: "\e2a5";
}
.i-basic-cup:before {
  content: "\e2a6";
}
.i-basic-heart:before {
  content: "\e2a7";
}
.i-basic-geolocalize-05:before {
  content: "\e2a8";
}
.i-basic-gear:before {
  content: "\e2a9";
}
.i-basic-compass:before {
  content: "\e2aa";
}
.i-basic-folder-multiple:before {
  content: "\e2ab";
}
.i-basic-headset:before {
  content: "\e2ac";
}
.i-basic-home:before {
  content: "\e2ad";
}
.i-basic-laptop:before {
  content: "\e2ae";
}
.i-basic-lock:before {
  content: "\e2af";
}
.i-basic-lock-open:before {
  content: "\e2b0";
}
.i-basic-mail-multiple:before {
  content: "\e2b1";
}
.i-basic-mail:before {
  content: "\e2b2";
}
.i-basic-mail-open-text:before {
  content: "\e2b3";
}
.i-basic-map:before {
  content: "\e2b4";
}
.i-basic-message:before {
  content: "\e2b5";
}
.i-basic-message-multiple:before {
  content: "\e2b6";
}
.i-basic-message-txt:before {
  content: "\e2b7";
}
.i-basic-mixer2:before {
  content: "\e2b8";
}
.i-basic-notebook:before {
  content: "\e2b9";
}
.i-basic-notebook-pencil:before {
  content: "\e2ba";
}
.i-basic-notebook-pen:before {
  content: "\e2bb";
}
.i-basic-paperplane:before {
  content: "\e2bc";
}
.i-basic-picture:before {
  content: "\e2bd";
}
.i-basic-picture-multiple:before {
  content: "\e2be";
}
.i-basic-postcard-multiple:before {
  content: "\e2bf";
}
.i-basic-postcard:before {
  content: "\e2c0";
}
.i-basic-sheet-pen:before {
  content: "\e2c1";
}
.i-basic-sheet-pencil:before {
  content: "\e2c2";
}
.i-basic-sheet-txt:before {
  content: "\e2c3";
}
.i-basic-smartphone:before {
  content: "\e2c4";
}
.i-basic-spread-text:before {
  content: "\e2c5";
}
.i-basic-tablet:before {
  content: "\e2c6";
}
.i-basic-webpage-img-txt:before {
  content: "\e2c7";
}
.i-basic-webpage-multiple:before {
  content: "\e2c8";
}
.i-basic-webpage-txt:before {
  content: "\e2c9";
}
.i-basic-webpage:before {
  content: "\e2ca";
}
.i-arrows-circle-check:before {
  content: "\e2cb";
}
.i-arrows-circle-down:before {
  content: "\e2cc";
}
.i-arrows-check:before {
  content: "\e2cd";
}
.i-arrows-circle-plus:before {
  content: "\e2ce";
}
.i-arrows-circle-downleft:before {
  content: "\e2cf";
}
.i-arrows-glide:before {
  content: "\e2d0";
}
.i-arrows-square-check:before {
  content: "\e2d1";
}
.i-arrows-square-right:before {
  content: "\e2d2";
}
.i-arrows-square-remove:before {
  content: "\e2d3";
}
.i-arrows-square-plus:before {
  content: "\e2d4";
}
.i-arrows-square-minus:before {
  content: "\e2d5";
}
.i-banknote:before {
  content: "\e2d6";
}
.i-bubble:before {
  content: "\e2d7";
}
.i-bulb:before {
  content: "\e2d8";
}
.i-calendar:before {
  content: "\e2d9";
}
.i-camera-1:before {
  content: "\e2da";
}
.i-clip:before {
  content: "\e2db";
}
.i-clock-1:before {
  content: "\e2dc";
}
.i-cloud-1:before {
  content: "\e2dd";
}
.i-cup-1:before {
  content: "\e2de";
}
.i-data:before {
  content: "\e2df";
}
.i-diamond-1:before {
  content: "\e2e0";
}
.i-display:before {
  content: "\e2e1";
}
.i-eye:before {
  content: "\e2e2";
}
.i-fire:before {
  content: "\e2e3";
}
.i-food:before {
  content: "\e2e4";
}
.i-heart:before {
  content: "\e2e5";
}
.i-key-1:before {
  content: "\e2e6";
}
.i-lab:before {
  content: "\e2e7";
}
.i-like-1:before {
  content: "\e2e8";
}
.i-location:before {
  content: "\e2e9";
}
.i-lock-1:before {
  content: "\e2ea";
}
.i-mail-1:before {
  content: "\e2eb";
}
.i-megaphone:before {
  content: "\e2ec";
}
.i-music-1:before {
  content: "\e2ed";
}
.i-news:before {
  content: "\e2ee";
}
.i-note-1:before {
  content: "\e2ef";
}
.i-paperplane:before {
  content: "\e2f0";
}
.i-params:before {
  content: "\e2f1";
}
.i-pen-1:before {
  content: "\e2f2";
}
.i-phone-1:before {
  content: "\e2f3";
}
.i-photo-1:before {
  content: "\e2f4";
}
.i-search-1:before {
  content: "\e2f5";
}
.i-settings-1:before {
  content: "\e2f6";
}
.i-shop:before {
  content: "\e2f7";
}
.i-sound:before {
  content: "\e2f8";
}
.i-stack:before {
  content: "\e2f9";
}
.i-star-1:before {
  content: "\e2fa";
}
.i-study-1:before {
  content: "\e2fb";
}
.i-t-shirt:before {
  content: "\e2fc";
}
.i-tag:before {
  content: "\e2fd";
}
.i-trash-1:before {
  content: "\e2fe";
}
.i-truck:before {
  content: "\e2ff";
}
.i-tv:before {
  content: "\e300";
}
.i-user-1:before {
  content: "\e301";
}
.i-vallet:before {
  content: "\e302";
}
.i-video-1:before {
  content: "\e303";
}
.i-vynil:before {
  content: "\e304";
}
.i-world-1:before {
  content: "\e305";
}
.i-bag:before {
  content: "\e306";
}
.i-bicycle-1:before {
  content: "\e307";
}
.i-bicycle-vintage:before {
  content: "\e308";
}
.i-browser-empty:before {
  content: "\e309";
}
.i-browser-full:before {
  content: "\e30a";
}
.i-bubble-1:before {
  content: "\e30b";
}
.i-bubble-2:before {
  content: "\e30c";
}
.i-bubble-3:before {
  content: "\e30d";
}
.i-camera-2:before {
  content: "\e30e";
}
.i-clap-board:before {
  content: "\e30f";
}
.i-clipboard:before {
  content: "\e310";
}
.i-clock-2:before {
  content: "\e311";
}
.i-cloud-2:before {
  content: "\e312";
}
.i-cloudy:before {
  content: "\e313";
}
.i-envelope:before {
  content: "\e314";
}
.i-file-ai:before {
  content: "\e315";
}
.i-file-jpg:before {
  content: "\e316";
}
.i-file-png:before {
  content: "\e317";
}
.i-file-psd:before {
  content: "\e318";
}
.i-file-text:before {
  content: "\e319";
}
.i-graph-1:before {
  content: "\e31a";
}
.i-heart-1:before {
  content: "\e31b";
}
.i-hierarchy:before {
  content: "\e31c";
}
.i-hierarchy-2:before {
  content: "\e31d";
}
.i-imac:before {
  content: "\e31e";
}
.i-ipad:before {
  content: "\e31f";
}
.i-iphone:before {
  content: "\e320";
}
.i-keyboard:before {
  content: "\e321";
}
.i-laptop:before {
  content: "\e322";
}
.i-line:before {
  content: "\e323";
}
.i-list:before {
  content: "\e324";
}
.i-list-thumbnails:before {
  content: "\e325";
}
.i-lock-2:before {
  content: "\e326";
}
.i-magnifier:before {
  content: "\e327";
}
.i-map-1:before {
  content: "\e328";
}
.i-map-pin:before {
  content: "\e329";
}
.i-moon-1:before {
  content: "\e32a";
}
.i-mouse-1:before {
  content: "\e32b";
}
.i-pencil:before {
  content: "\e32c";
}
.i-pencil-ruler:before {
  content: "\e32d";
}
.i-picture:before {
  content: "\e32e";
}
.i-rain:before {
  content: "\e32f";
}
.i-ribbon-1:before {
  content: "\e330";
}
.i-shoe:before {
  content: "\e331";
}
.i-speaker-1:before {
  content: "\e332";
}
.i-speaker-off:before {
  content: "\e333";
}
.i-sun-1:before {
  content: "\e334";
}
.i-tape:before {
  content: "\e335";
}
.i-target-1:before {
  content: "\e336";
}
.i-unlock-1:before {
  content: "\e337";
}
.i-settings-streamline-1:before {
  content: "\e338";
}
.i-settings-streamline:before {
  content: "\e339";
}
.i-speech-streamline-talk-user:before {
  content: "\e33a";
}
.i-streamline-umbrella-weather:before {
  content: "\e33b";
}
.i-picture-streamline-1:before {
  content: "\e33c";
}
.i-home-house-streamline:before {
  content: "\e33d";
}
.i-caddie-shopping-streamline:before {
  content: "\e33e";
}
.i-edit-modify-streamline:before {
  content: "\e33f";
}
.i-lock-locker-streamline:before {
  content: "\e340";
}
.i-locker-streamline-unlock:before {
  content: "\e341";
}
.i-man-people-streamline-user:before {
  content: "\e342";
}
.i-map-pin-streamline:before {
  content: "\e343";
}
.i-aim:before {
  content: "\e344";
}
.i-aim-alt:before {
  content: "\e345";
}
.i-amazon:before {
  content: "\e346";
}
.i-app-store:before {
  content: "\e347";
}
.i-apple:before {
  content: "\e348";
}
.i-arto:before {
  content: "\e349";
}
.i-aws:before {
  content: "\e34a";
}
.i-baidu:before {
  content: "\e34b";
}
.i-basecamp:before {
  content: "\e34c";
}
.i-bebo:before {
  content: "\e34d";
}
.i-behance:before {
  content: "\e34e";
}
.i-bing:before {
  content: "\e34f";
}
.i-blip:before {
  content: "\e350";
}
.i-blogger:before {
  content: "\e351";
}
.i-bnter:before {
  content: "\e352";
}
.i-brightkite:before {
  content: "\e353";
}
.i-cinch:before {
  content: "\e354";
}
.i-cloudapp:before {
  content: "\e355";
}
.i-coroflot:before {
  content: "\e356";
}
.i-creative-commons:before {
  content: "\e357";
}
.i-dailybooth:before {
  content: "\e358";
}
.i-delicious:before {
  content: "\e359";
}
.i-designbump:before {
  content: "\e35a";
}
.i-designfloat:before {
  content: "\e35b";
}
.i-designmoo:before {
  content: "\e35c";
}
.i-deviantart:before {
  content: "\e35d";
}
.i-digg:before {
  content: "\e35e";
}
.i-digg-alt:before {
  content: "\e35f";
}
.i-diigo:before {
  content: "\e360";
}
.i-dribbble:before {
  content: "\e361";
}
.i-dropbox:before {
  content: "\e362";
}
.i-drupal:before {
  content: "\e363";
}
.i-dzone:before {
  content: "\e364";
}
.i-ebay:before {
  content: "\e365";
}
.i-ember:before {
  content: "\e366";
}
.i-etsy:before {
  content: "\e367";
}
.i-evernote:before {
  content: "\e368";
}
.i-facebook:before {
  content: "\e369";
}
.i-facebook-alt:before {
  content: "\e36a";
}
.i-facebook-places:before {
  content: "\e36b";
}
.i-facto:before {
  content: "\e36c";
}
.i-feedburner:before {
  content: "\e36d";
}
.i-flickr:before {
  content: "\e36e";
}
.i-folkd:before {
  content: "\e36f";
}
.i-formspring:before {
  content: "\e370";
}
.i-forrst:before {
  content: "\e371";
}
.i-foursquare:before {
  content: "\e372";
}
.i-friendfeed:before {
  content: "\e373";
}
.i-friendster:before {
  content: "\e374";
}
.i-gdgt:before {
  content: "\e375";
}
.i-github:before {
  content: "\e376";
}
.i-github-alt:before {
  content: "\e377";
}
.i-goodreads:before {
  content: "\e378";
}
.i-google:before {
  content: "\e379";
}
.i-google-buzz:before {
  content: "\e37a";
}
.i-google-talk:before {
  content: "\e37b";
}
.i-gowalla:before {
  content: "\e37c";
}
.i-gowalla-alt:before {
  content: "\e37d";
}
.i-grooveshark:before {
  content: "\e37e";
}
.i-hacker-news:before {
  content: "\e37f";
}
.i-hi5:before {
  content: "\e380";
}
.i-hype-machine:before {
  content: "\e381";
}
.i-hyves:before {
  content: "\e382";
}
.i-icq:before {
  content: "\e383";
}
.i-identi:before {
  content: "\e384";
}
.i-instapaper:before {
  content: "\e385";
}
.i-itunes:before {
  content: "\e386";
}
.i-kik:before {
  content: "\e387";
}
.i-krop:before {
  content: "\e388";
}
.i-last:before {
  content: "\e389";
}
.i-linkedin:before {
  content: "\e38a";
}
.i-linkedin-alt:before {
  content: "\e38b";
}
.i-livejournal:before {
  content: "\e38c";
}
.i-lovedsgn:before {
  content: "\e38d";
}
.i-meetup:before {
  content: "\e38e";
}
.i-metacafe:before {
  content: "\e38f";
}
.i-ming:before {
  content: "\e390";
}
.i-mister-wong:before {
  content: "\e391";
}
.i-mixx:before {
  content: "\e392";
}
.i-mixx-alt:before {
  content: "\e393";
}
.i-mobileme:before {
  content: "\e394";
}
.i-msn-messenger:before {
  content: "\e395";
}
.i-myspace:before {
  content: "\e396";
}
.i-myspace-alt:before {
  content: "\e397";
}
.i-newsvine:before {
  content: "\e398";
}
.i-official:before {
  content: "\e399";
}
.i-openid:before {
  content: "\e39a";
}
.i-orkut:before {
  content: "\e39b";
}
.i-pandora:before {
  content: "\e39c";
}
.i-path:before {
  content: "\e39d";
}
.i-paypal:before {
  content: "\e39e";
}
.i-photobucket:before {
  content: "\e39f";
}
.i-picasa:before {
  content: "\e3a0";
}
.i-picassa:before {
  content: "\e3a1";
}
.i-pinboard:before {
  content: "\e3a2";
}
.i-ping:before {
  content: "\e3a3";
}
.i-pingchat:before {
  content: "\e3a4";
}
.i-playstation:before {
  content: "\e3a5";
}
.i-plixi:before {
  content: "\e3a6";
}
.i-plurk:before {
  content: "\e3a7";
}
.i-podcast:before {
  content: "\e3a8";
}
.i-posterous:before {
  content: "\e3a9";
}
.i-qik:before {
  content: "\e3aa";
}
.i-quik:before {
  content: "\e3ab";
}
.i-quora:before {
  content: "\e3ac";
}
.i-rdio:before {
  content: "\e3ad";
}
.i-readernaut:before {
  content: "\e3ae";
}
.i-reddit:before {
  content: "\e3af";
}
.i-retweet:before {
  content: "\e3b0";
}
.i-robo:before {
  content: "\e3b1";
}
.i-rss:before {
  content: "\e3b2";
}
.i-scribd:before {
  content: "\e3b3";
}
.i-sharethis:before {
  content: "\e3b4";
}
.i-simplenote:before {
  content: "\e3b5";
}
.i-skype:before {
  content: "\e3b6";
}
.i-slashdot:before {
  content: "\e3b7";
}
.i-slideshare:before {
  content: "\e3b8";
}
.i-smugmug:before {
  content: "\e3b9";
}
.i-soundcloud:before {
  content: "\e3ba";
}
.i-spotify:before {
  content: "\e3bb";
}
.i-squarespace:before {
  content: "\e3bc";
}
.i-squidoo:before {
  content: "\e3bd";
}
.i-steam:before {
  content: "\e3be";
}
.i-stumbleupon:before {
  content: "\e3bf";
}
.i-technorati:before {
  content: "\e3c0";
}
.i-threewords:before {
  content: "\e3c1";
}
.i-tribe:before {
  content: "\e3c2";
}
.i-tripit:before {
  content: "\e3c3";
}
.i-tumblr:before {
  content: "\e3c4";
}
.i-twitter:before {
  content: "\e3c5";
}
.i-twitter-alt:before {
  content: "\e3c6";
}
.i-vcard:before {
  content: "\e3c7";
}
.i-viddler:before {
  content: "\e3c8";
}
.i-vimeo:before {
  content: "\e3c9";
}
.i-virb:before {
  content: "\e3ca";
}
.i-w3:before {
  content: "\e3cb";
}
.i-whatsapp:before {
  content: "\e3cc";
}
.i-wikipedia:before {
  content: "\e3cd";
}
.i-windows:before {
  content: "\e3ce";
}
.i-wists:before {
  content: "\e3cf";
}
.i-wordpress:before {
  content: "\e3d0";
}
.i-wordpress-alt:before {
  content: "\e3d1";
}
.i-xing:before {
  content: "\e3d2";
}
.i-yahoo:before {
  content: "\e3d3";
}
.i-yahoo-buzz:before {
  content: "\e3d4";
}
.i-yahoo-messenger:before {
  content: "\e3d5";
}
.i-yelp:before {
  content: "\e3d6";
}
.i-youtube:before {
  content: "\e3d7";
}
.i-youtube-alt:before {
  content: "\e3d8";
}
.i-zerply:before {
  content: "\e3d9";
}
.i-zootool:before {
  content: "\e3da";
}
.i-zynga:before {
  content: "\e3db";
}
.i-social-vimeo:before {
  content: "\e3dc";
}
.i-social-vimeo-circle:before {
  content: "\e3dd";
}
.i-social-vimeo-square:before {
  content: "\e3de";
}
.i-social-wordpress:before {
  content: "\e3df";
}
.i-social-wordpress-circle:before {
  content: "\e3e0";
}
.i-social-wordpress-square:before {
  content: "\e3e1";
}
.i-social-youtube:before {
  content: "\e3e2";
}
.i-social-youtube-circle:before {
  content: "\e3e3";
}
.i-social-youtube-square:before {
  content: "\e3e4";
}
.i-social-deviantart-square:before {
  content: "\e3e5";
}
.i-social-dribbble:before {
  content: "\e3e6";
}
.i-social-dribbble-circle:before {
  content: "\e3e7";
}
.i-social-dribbble-square:before {
  content: "\e3e8";
}
.i-social-facebook:before {
  content: "\e3e9";
}
.i-social-facebook-circle:before {
  content: "\e3ea";
}
.i-social-facebook-square:before {
  content: "\e3eb";
}
.i-social-flickr:before {
  content: "\e3ec";
}
.i-social-flickr-circle:before {
  content: "\e3ed";
}
.i-social-flickr-square:before {
  content: "\e3ee";
}
.i-social-googledrive:before {
  content: "\e3ef";
}
.i-social-googledrive-alt2:before {
  content: "\e3f0";
}
.i-social-googledrive-square:before {
  content: "\e3f1";
}
.i-social-googleplus:before {
  content: "\e3f2";
}
.i-social-googleplus-circle:before {
  content: "\e3f3";
}
.i-social-googleplus-square:before {
  content: "\e3f4";
}
.i-social-instagram:before {
  content: "\e3f5";
}
.i-social-instagram-circle:before {
  content: "\e3f6";
}
.i-social-instagram-square:before {
  content: "\e3f7";
}
.i-social-linkedin:before {
  content: "\e3f8";
}
.i-social-linkedin-circle:before {
  content: "\e3f9";
}
.i-social-linkedin-square:before {
  content: "\e3fa";
}
.i-social-myspace:before {
  content: "\e3fb";
}
.i-social-myspace-circle:before {
  content: "\e3fc";
}
.i-social-myspace-square:before {
  content: "\e3fd";
}
.i-social-picassa:before {
  content: "\e3fe";
}
.i-social-picassa-circle:before {
  content: "\e3ff";
}
.i-social-picassa-square:before {
  content: "\e400";
}
.i-social-pinterest:before {
  content: "\e401";
}
.i-social-pinterest-circle:before {
  content: "\e402";
}
.i-social-pinterest-square:before {
  content: "\e403";
}
.i-social-rss:before {
  content: "\e404";
}
.i-social-rss-circle:before {
  content: "\e405";
}
.i-social-rss-square:before {
  content: "\e406";
}
.i-social-share:before {
  content: "\e407";
}
.i-social-share-circle:before {
  content: "\e408";
}
.i-social-share-square:before {
  content: "\e409";
}
.i-social-skype:before {
  content: "\e40a";
}
.i-social-skype-circle:before {
  content: "\e40b";
}
.i-social-skype-square:before {
  content: "\e40c";
}
.i-social-spotify:before {
  content: "\e40d";
}
.i-social-spotify-circle:before {
  content: "\e40e";
}
.i-social-spotify-square:before {
  content: "\e40f";
}
.i-social-stumbleupon-circle:before {
  content: "\e410";
}
.i-social-stumbleupon-square:before {
  content: "\e411";
}
.i-social-tumbleupon:before {
  content: "\e412";
}
.i-social-tumblr:before {
  content: "\e413";
}
.i-social-tumblr-circle:before {
  content: "\e414";
}
.i-social-tumblr-square:before {
  content: "\e415";
}
.i-social-twitter:before {
  content: "\e416";
}
.i-social-twitter-circle:before {
  content: "\e417";
}
.i-social-twitter-square:before {
  content: "\e418";
}
.i-social-blogger:before {
  content: "\e419";
}
.i-social-blogger-circle:before {
  content: "\e41a";
}
.i-social-blogger-square:before {
  content: "\e41b";
}
.i-social-delicious:before {
  content: "\e41c";
}
.i-social-delicious-circle:before {
  content: "\e41d";
}
.i-social-delicious-square:before {
  content: "\e41e";
}
.i-social-deviantart:before {
  content: "\e41f";
}
.i-social-deviantart-circle:before {
  content: "\e420";
}
.i-playstore:before {
  content: "\e421";
}
.i-windows-outline:before {
  content: "\e422";
}
.i-windows-1:before {
  content: "\e423";
}
.i-youtube-play-outline:before {
  content: "\e424";
}
.i-youtube-play:before {
  content: "\e425";
}
.i-sb-share:before {
  content: "\e426";
}
.i-sb-facebook:before {
  content: "\e427";
}
.i-sb-twitter:before {
  content: "\e428";
}
.i-sb-behance:before {
  content: "\e429";
}
.i-sb-pinterest:before {
  content: "\e42a";
}
.i-sb-googleplus:before {
  content: "\e42b";
}
.i-sb-vimeo:before {
  content: "\e42c";
}
.i-sb-instagram:before {
  content: "\e42d";
}
.i-sb-linkedin:before {
  content: "\e42e";
}
.i-sb-dribbble:before {
  content: "\e42f";
}
.i-sb-youtube:before {
  content: "\e430";
}
